body {
  font-family: 'Segoe UI', sans-serif;
  background: #e4d0bb;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.card {
  background: rgb(242, 234, 234);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.story-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #dad7d7;
}

input, textarea {
  width: 100%;
  margin: 5px 0 10px;
  padding: 8px;
  padding-right: 0px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 14px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  background-color: #5b72ee;
  color: white;
  cursor: pointer;
}

button.delete {
  background-color: #f44336;
}
